<mat-nav-list>
      <a mat-list-item routerLink="/landing" (click)="close()">
            <mat-icon>home</mat-icon>
            <span>Főoldal</span>
      </a>
      <a mat-list-item routerLink="/compare" (click)="close()">
            <mat-icon>compare_arrows</mat-icon>
            <span>Összehasonlítás</span>
      </a>
      <a mat-list-item routerLink="/list" (click)="close()">
            <mat-icon>computer</mat-icon>
            <span>Konfigurációk</span>
      </a>
      <a mat-list-item routerLink="/build" (click)="close()">
            <mat-icon>construction</mat-icon>
            <span>Build</span>
      </a>
      <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!(loggedUser)">
            <mat-icon>login</mat-icon>
            <span>Bejelentkezés</span>
      </a>
      <a mat-list-item routerLink="/login" (click)="close(true)" *ngIf="loggedUser">
            <mat-icon>logout</mat-icon>
            <span>Kijelentkezés</span>
      </a>
      <a mat-list-item routerLink="/registration" (click)="close()" *ngIf="!(loggedUser)">
            <mat-icon>app_registration</mat-icon>
            <span>Regisztráció</span>
      </a>
</mat-nav-list>

<!-- <select [(ngModel)]="currentPage" (change)="menuSwitch()">
      <option value="landing">Főoldal</option>
      <option value="compare">Összehasonlítás</option>
      <option value="list">Listázás</option>
      <option value="build">Build</option>
      <option value="login">Bejelentkezés</option>
      <option value="registration">Regisztráció</option>
</select> -->