a {
      text-decoration: none;
      color: white;
}

a:hover, a:active {
      color: rgb(211, 221, 221);
}

.nav-items {
      list-style: none;
      padding: 0;
      margin: 0;
}

.navbar-color {
      background-color: rgb(50, 91, 91);
      color: white;
}

mat-sidenav {
      width: 230px;
}


a {
      text-decoration: none;
      color: white;
  }
  
  a:hover, a:active {
      color: lightgray;
  }
  
  .nav-items {
      display: flex;
      flex-direction: row;
      gap: 10px;
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  @media screen and (max-width: 576px) {
      .nav-items {
          display: none;
      }
   }
  
  mat-sidenav {
      width: 250px;
  }
  
  .navigation-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding-left: 10px;
  }
  
  @media screen and (min-width: 576px) {
      .hamburger-menu-wrapper {
          display: none;
      }
  }